.profil-container {
  height: -webkit-fill-available;
  padding: 100px 300px 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  text-align: justify;
  font-family: "Poppins";
}

.profil-info {
  border: 1px solid #3c8f69;
  border-radius: 15px;
  padding: 20px;
}

.profil-info-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-name {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #3c8f69;

  a {
    color: #3c8f69;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: grey;
  }

  .input-date {
    margin-right: 15px;
  }
}

.edit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 22px;

  span {
    font-size: 16px;
    font-weight: bold;
    color: #3c8f69;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
