@import "src/global.scss";

.workshop-request-container {
  height: -webkit-fill-available;
  padding: 160px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
  font-family: "Poppins";
  background-color: #f0f9f4;
}

.info-car {
  display: flex;
  gap: 30px;
}

@media (width < 1500px) {
  .self {
    margin-top: 10px !important;
    gap: 20px;
  }
}
