<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="calendar-container">
    <div class="wrapper-calendar">
      <div class="header-calendar">
        <div>
          <button (click)="changeMonth(-1)" class="btn-prev">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
        <h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
        <div>
          <button (click)="changeMonth(1)" class="btn-next">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
      <ol>
        <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>

        <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
          *ngFor="let day of monthSelect;let first = first" class="day-container">
          <span>{{day?.value}}</span>
        </li>
      </ol>
    </div>
  </section>
</ion-content>