.privacy-content {
  font-family: "Poppins";
}

//privacy content

.privacy-container {
  height: -webkit-fill-available;
  padding: 100px 300px 50px 300px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: justify;
  font-family: "Poppins";
}

.privacy-intro {
  span {
    font-size: 16px;
  }
}

.privacy-contain {
  margin-bottom: 10px;
  h3 {
    font-weight: 700;
    text-decoration: underline;
  }
  span {
    font-size: 16px;
  }
}

.privacy-contact {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  h4 {
    font-weight: 600;
  }

  span {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.privacy-info {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .web {
    color: #3c8f69;
    &:hover {
      text-decoration: underline;
    }
  }
}

.privacy-containSub {
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: 700;
    text-decoration: underline;
  }
  span {
    font-size: 16px;
  }
}

.containSub-info {
  font-family: "Poppins";
  text-align: justify;
  font-size: 16px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  li {
    text-align: start;
  }
  h3 {
    font-weight: 700;
    text-decoration: underline;
  }
  div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
