/* Container for intro animation */
.container-intro {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
  img {
    width: 500px;
    object-fit: cover;
    transition: transform 1s;
  }
}

/* app.animations.css */
@keyframes introAnimation {
  0% {
    transform: scale(0.4) translate(0, 0);
  }
  75% {
    transform: scale(0.4) translate(0, 0);
  }
  100% {
    transform: scale(0.2) translate(-400%, -170%);
  }
}

.container-intro img.logo-transformed {
  width: 50%;
  object-fit: cover;
  transition: transform 2s;
  animation: introAnimation 5s forwards;
}

/* login container */
.container-login {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  position: absolute;
  z-index: 2;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

.login-title {
  width: 500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    color: #252525;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
  }
}

.login-user-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-email-title {
  span {
    font-size: 20px;
  }
}

.input-container {
  padding: 10px;
  border: #a0d0c0 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  input {
    background-color: transparent;
    outline: none;
    width: 250px;
    border: none;
  }

  &:hover {
    border-color: #3c8f69;
  }
}

.icon-view {
  cursor: pointer;
}

input:focus + .input-container {
  border-color: #3c8f69;
}

.case-false {
  span {
    color: red;
    font-size: 10px;
  }
}

.login-button {
  button {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3c8f69;
    color: #eef011;
  }
}
