<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="holidays-resum">
    <div *ngFor="let yearGroup of getHolidaysFromLocalStorage(); let j = index" class="holidaysInYear">
      <div class="holidays-year">
        <span>Urlaub Jahr {{yearGroup.year}}</span>
      </div>
      <div class="holidays-cont" *ngFor="let holidays of yearGroup.holidays; let i = index">
        <div class="holidays-info-cont">
          <div class="holidays-name">
            <span>{{holidays.name}}</span>
            <span>{{holidays.lastName}}</span>
          </div>
          <div class="holidays-dates">
            <div class="holidays">
              <span>Urlaub von:</span>
              <span class="from-to-days">{{formatDate(holidays.holidaysFrom)}}</span>
              <!-- *ngIf="editHolidays || currentEditingId !== holidays.id" -->
              <!-- <input type="date" placeholder="{{holidays.holidaysFrom}}" class="input-resum-holidays"
                *ngIf="!editHolidays && currentEditingId === holidays.id" [attr.min]="optHolidays"
                [max]="maxOptionHolidays" name="holidaysFrom" [value]="holidays.holidaysFrom | date:'yyyy-MM-dd'"
                (input)="updateTempHolidaysFrom($event)">
              <span *ngIf="newDates">{{tempHolidaysFrom}}</span> -->
            </div>
            <div class="holidays">
              <span>Urlaub bis:</span>
              <span class="from-to-days">{{formatDate(holidays.holidaysTo)}}</span>
              <!-- *ngIf="editHolidays || currentEditingId !== holidays.id" -->
              <!-- <input type="date" placeholder="{{holidays.holidaysTo}}" class="input-resum-holidays"
                *ngIf="!editHolidays && currentEditingId === holidays.id" [min]="editHolidaysFrom"
                [max]="maxOptionHolidays" [value]="holidays.holidaysTo | date:'yyyy-MM-dd'"
                (input)="updateTempHolidaysTo($event)">
              <span *ngIf="newDates">{{tempHolidaysTo}}</span> -->
            </div>
          </div>
          <!-- <div class="info" *ngIf="!editHolidays && currentEditingId === holidays.id">
            <span>Resturlaub:</span>
            <input type="text" name="stillHolidays" class="inputStillHol" disabled=""
              [style.color]="stillHolidays <= 5 ? 'red' : '#3c8f69'" [value]="stillHolidays"> Tage
          </div> -->
          <div class="holidays-notes">
            <span>Notizen:</span>
            <span class="notes">{{holidays.notes? holidays.notes :'Keine Notizen'}}</span>
            <!-- *ngIf="editHolidays || currentEditingId !== holidays.id" -->
            <!-- <textarea class="texta-resum-holidays" [(value)]="holidays.notes"
              *ngIf="!editHolidays && currentEditingId === holidays.id" (change)="updateTextArea($event)"></textarea> -->
          </div>
          <div class="holidays-request">
            <span>Beantragt:</span>
            <span>{{holidays.dateRequest}}</span>
            <!-- *ngIf="editHolidays || currentEditingId !== holidays.id" -->
            <!-- <input disabled="" type="text" name="dateRequest" [value]="minDate" class="inputDays"
              *ngIf="!editHolidays && currentEditingId === holidays.id"> -->
          </div>
        </div>

        <div class="holidays-status-cont">
          <div class="status-cont">
            <img *ngIf="holidays.status" src="{{getStatusIcon(holidays.status)}}">
          </div>

          <div class="status-button">
            <button class="button-status" (click)="editHolidaysButton(holidays.id)"
              *ngIf="editHolidays || currentEditingId !== holidays.id">
              Bearbeiten
            </button>
            <!-- <button class="button-status" (click)="requestHolidaysChange(holidays)"
              *ngIf="!editHolidays && currentEditingId === holidays.id">
              Beantragen
            </button> -->
            <button class="button-status" (click)="requestHolidaysCancel(holidays.id)"
              *ngIf="!editHolidays && currentEditingId === holidays.id">
              Abbrechen
            </button>
            <button class="button-status red" (click)="cancelHolidays(holidays.id, holidaysFrom, holidaysTo)"
              *ngIf="!editHolidays && currentEditingId === holidays.id">
              Absagen
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>